In [ ]:
import pandas as pd
import sqlite3

In [ ]:
conn = sqlite3.connect('mwalks.sqlite')

In [ ]:
df = pd.read_sql_query('SELECT * FROM points', conn)

In [ ]:
df["dtm"] = pd.to_datetime(df.dt)

In [ ]:
df.head()

In [ ]:
df.size

In [ ]:
daily_sums = df[['dt', 'elapsed_secs', 'distance']].groupby(by=[df.dtm.dt.year, df.dtm.dt.month]).sum()

In [ ]:
daily_sums['miles'] = daily_sums.distance * 0.621371 / 1000.0
daily_sums['avg_mph'] = 3600 * daily_sums.miles / daily_sums.elapsed_secs

In [ ]:
daily_sums